**/bin/**
**/**/*~
*~
*log
**/**/Thumbs.db
**/**/.DS_store
External Plug-in Libraries/
.metadata
bytelist/
jcodings/
jvyamlb/
leaning.*/
org.apache.bsf/.settings/
org.eclipse.*/
org.kompiro.eclipseextension.maxscreen/
org.kompiro.jamcircle.platform/
org.kompiro.jamcircle.platform.ui/
xstream/
de.spiritlink.jobs/
org.kompiro.jamcircle.builder/
*example/
**/screenshots/**
**/screenshots
learning.*/
results/
testresults/
