<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.kompiro.jamcircle.scripting.scriptEngineStreamInitializer">
      <initializer
            class="org.kompiro.jamcircle.scripting.console.internal.ScriptingStreamInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.kompiro.jamcircle.scripting.console.internal.ConsoleStartup">
      </startup>
   </extension>

</plugin>
