<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.kompiro.jamcircle.scripting.ui.internal.eclipse.ui.console.ScriptingConsoleFactory"
            icon="icons/script_gear.png"
            label="Ruby Scripting Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.kompiro.jamcircle.scripting.ui.internal.eclipse.ui.console.ScriptingConsolePageParticipant"
            id="org.kompiro.jamcircle.scripting.ui.consolePageParticipant">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.kompiro.jamcircle.kanban.ui.perspective.kanban">
         <view
               closeable="false"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               ratio="0.80f"
               relationship="bottom"
               relative="org.kompiro.jamcircle.kanban.KanbanView"
               showTitle="false"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView?after=additions">
         <command
               commandId="org.kompiro.jamcircle.scripting.ui.commands.jruby.gems.install"
               icon="icons/ruby_add.png"
               label="Install Gem"
               style="push"
               tooltip="Install JRuby Gems to JAMCircle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.kompiro.jamcircle.scripting.ui.jruby.commands.category"
            name="JAMCircle JRuby Commands">
      </category>
      <command
            categoryId="org.kompiro.jamcircle.scripting.ui.jruby.commands.category"
            id="org.kompiro.jamcircle.scripting.ui.commands.jruby.gems.install"
            name="Install Gems Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.kompiro.jamcircle.scripting.ui.internal.handlers.GemInstallHandler"
            commandId="org.kompiro.jamcircle.scripting.ui.commands.jruby.gems.install">
      </handler>
   </extension>

</plugin>
