<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.kompiro.jamcircle.scripting.ui.internal.eclipse.ui.console.ScriptingConsoleFactory"
            icon="icons/script_gear.png"
            label="Ruby Scripting Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.kompiro.jamcircle.scripting.ui.internal.eclipse.ui.console.ScriptingConsolePageParticipant"
            id="org.kompiro.jamcircle.scripting.ui.consolePageParticipant">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.kompiro.jamcircle.kanban.ui.perspective.kanban">
         <view
               closeable="false"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               ratio="0.80f"
               relationship="bottom"
               relative="org.kompiro.jamcircle.kanban.KanbanView"
               showTitle="false"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
