<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.kompiro.jamcircle.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">
	    <view
           class="org.eclipse.ui.ExtensionFactory:progressView"
           icon="icons/progress.gif"
           id="org.eclipse.ui.views.ProgressView"
           name="Progress"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.kompiro.jamcircle.rcp.application"
            name="JAM Circle">
         <property
               name="windowImages"
               value="icons/kanban_016.gif,icons/kanban_032.gif,icons/kanban_048.gif,icons/kanban_064.gif,icons/kanban_128.gif">
         </property>
         <property
               name="aboutText"
               value="JAM Circle&#x0A;Visit http://kompiro.org/jamcircle/&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://www.apache.org/&#x0A;Mozilla Foundation(Rhino) https://developer.mozilla.org/en/Rhino&#x0A;JRuby Project http://jruby.org/&#x0A;&#x0A;JAMCircle&apos;s icon uses these site icons.&#x0A;famfamfam.com &#x0A;http://www.famfamfam.com/&#x0A;&#x0A;created by Yusuke Kamiyamane&#x0A;http://p.yusukekamiyamane.com/">
         </property>
         <property
               name="aboutImage"
               value="icons/about2.png">
         </property>
         <property
               name="appName"
               value="JAM Circle">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.kompiro.jamcircle.rcp.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.kompiro.jamcircle.rcp.internal.preferences.RCPPreferencePage"
            id="org.kompiro.jamcircle.preference"
            name="JAMCircle">
      </page>
   </extension>
</plugin>
