<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="JAM Circle for 3.5">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.1.20101106_1831-73ca7af-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.0.1.20101106_1831-73ca7af-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.1.20101106_1831-73ca7af-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.gef.all.feature.group" version="3.5.2.v20100111-1352-787A47PpPBNpsWlH3EdWS1fY14Gn"/>
<repository location="http://download.eclipse.org/tools/gef/updates/releases/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_eclipse_ja.feature.group" version="3.5.0.v20101211082259"/>
<unit id="org.eclipse.babel.nls_rt.equinox_ja.feature.group" version="3.5.0.v20101211082259"/>
<unit id="org.eclipse.babel.nls_tools.gef_ja.feature.group" version="3.5.0.v20101211082259"/>
<repository location="http://download.eclipse.org/technology/babel/update-site/R0.8.1/galileo"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.5.2.M20100211-1343"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.5.2.M20100211-1343"/>
<unit id="org.eclipse.sdk.ide" version="3.5.2.M20100211-1343"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.5.1.R35x_v20090811-8q7BGE-G13DHKOBciHlrWmr7PD93"/>
<repository location="http://download.eclipse.org/releases/galileo/"/>
</location>
</locations>
</target>
