<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="editPartFactory" name="Create IconEditPart Factory" schema="schema/editPartFactory.exsd"/>
   <extension
         id="kanban"
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="org.kompiro.jamcircle">
      </category>
      <view
            allowMultiple="false"
            category="org.kompiro.jamcircle"
            class="org.kompiro.jamcircle.kanban.ui.KanbanView"
            icon="icons/kanbans_16.png"
            id="org.kompiro.jamcircle.kanban.KanbanView"
            name="%view.name"/>
   </extension>   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <viewShortcut id="org.kompiro.jamcircle.kanban.KanbanView"/>
         <perspectiveShortcut
               id="org.kompiro.jamcircle.kanban.ui.perspective.kanban">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.kompiro.jamcircle.kanban.ui.perspective.kanban">
         <view
               closeable="false"
               id="org.kompiro.jamcircle.kanban.KanbanView"
               minimized="false"
               moveable="false"
               ratio="0.95f"
               relationship="top"
               relative="org.eclipse.ui.views.ProblemView"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.kompiro.jamcircle.kanban.ui.KanbanPerspective"
            icon="icons/kanbans_16.png"
            id="org.kompiro.jamcircle.kanban.ui.perspective.kanban"
            name="%perspective.name">
      </perspective>
   </extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <category
             id="org.kompiro.jamcircle.kanban.ui"
             name="%new.wizard.category.name">
       </category>
       <wizard
             category="org.kompiro.jamcircle.kanban.ui"
             class="org.kompiro.jamcircle.kanban.ui.wizard.BoardNewWizard"
             descriptionImage="icons/kanbans.png"
             icon="icons/kanban_016.gif"
             id="org.kompiro.jamcircle.kanban.ui.action.BoardNewWizard"
             name="%new_board_wizard"
             project="false">
       </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.exportWizards">
       <category
             id="org.kompiro.jamcircle.kanban.ui"
             name="%export.wizard.category.name">
       </category>
       <wizard
             category="org.kompiro.jamcircle.kanban.ui"
             class="org.kompiro.jamcircle.kanban.ui.wizard.CSVExportWizard"
             icon="icons/page_excel.png"
             id="org.kompiro.jamcircle.kanban.ui.action.CSVExportWizard"
             name="%csv.export.wizard.name">
       </wizard>
       <wizard
             category="org.kompiro.jamcircle.kanban.ui"
             class="org.kompiro.jamcircle.kanban.ui.wizard.BoardExportWizard"
             icon="icons/kanban_016.gif"
             id="org.kompiro.jamcircle.kanban.ui.boardexportwizard"
             name="%board.export.wizard.name">
       </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.importWizards">
       <category
             id="org.kompiro.jamcircle.kanban.ui"
             name="%import.wizard.category.name">
       </category>
       <wizard
             category="org.kompiro.jamcircle.kanban.ui"
             class="org.kompiro.jamcircle.kanban.ui.wizard.CSVImportWizard"
             icon="icons/page_excel.png"
             id="org.kompiro.jamcircle.kanban.ui"
             name="%csv.import.wizard.name">
       </wizard>
       <wizard
             category="org.kompiro.jamcircle.kanban.ui"
             class="org.kompiro.jamcircle.kanban.ui.wizard.BoardImportWizard"
             icon="icons/kanban_016.gif"
             id="org.kompiro.jamcircle.kanban.ui.boardimportwizard"
             name="%board.import.wizard.name">
       </wizard>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.kompiro.jamcircle.kanban.ui.KanbanUIPreferenceInitializer">
       </initializer>
    </extension>
   <extension
         point="org.kompiro.jamcircle.scripting.scriptEngineInitializer">
      <initializer
            class="org.kompiro.jamcircle.kanban.model.KanbanScriptingEngineInitializer">
         <script
               file="script/init.rb"
               type="JRuby">
         </script>
         <script
               file="script/init.js"
               type="JavaScript">
         </script>
      </initializer>
   </extension>
</plugin>
