#Thu Jan 28 00:56:57 JST 2010
pluginbuilder.is.generation.necessary=true
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*;Abstract.*;.*ScriptingServiceImplTest.*
pluginbuilder.features=org.kompiro.jamcircle.rcp.feature
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*Test.*
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=http\://svn.kompiro.org/jamcircle/trunk/
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=false
#no.postBuild=true
allElements=${buildHome}/features.config/rcpElements.xml
archiveNamePrefix=jamcircle-rcp-base

p2.metadata.repo=file:/tmp/org.kompiro.jamcircle.rcp.repo
p2.artifact.repo=file:/tmp/org.kompiro.jamcircle.rcp.repo
p2.build.repo=file:/tmp/org.kompiro.jamcircle.rcp.repo
