#Sun Aug 23 00:07:59 JST 2009
pluginbuilder.is.generation.necessary=true
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*;Abstract.*
pluginbuilder.features=org.kompiro.jamcircle,org.kompiro.jamcircle.test
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*Test.*
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=http\://svn.kompiro.org/jamcircle/trunk/
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=true
