<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="org.kompiro.jamcircle">
      </category>
      <view
            name="%view.name"
            icon="icons/user.png"
            category="org.kompiro.jamcircle"
            class="org.kompiro.jamcircle.xmpp.ui.views.RosterView"
            id="org.kompiro.jamcircle.xmpp.ui.views.RoasterView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.kompiro.jamcircle.xmpp.ui.XMPPPerspective"
            icon="icons/user.png"
            id="org.kompiro.jamcircle.xmpp.ui.perspective.friends"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.kompiro.jamcircle.xmpp.ui.views.RoasterView">
         </view>
      </perspectiveExtension>
   </extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.kompiro.trichord.distributed.xmpp.ui.commands.category"
             name="%category.name.0">
       </category>
       <command
             categoryId="org.kompiro.trichord.distributed.xmpp.ui.commands.category"
             id="org.kompiro.trichord.distributed.xmpp.ui.commands.connectCommand"
             name="%command.name">
       </command>
       <command
             categoryId="org.kompiro.trichord.distributed.xmpp.ui.commands.category"
             id="org.kompiro.trichord.distributed.xmpp.ui.commands.disconnectCommand"
             name="%command.name.0">
       </command>
     </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.kompiro.jamcircle.xmpp.ui.handlers.ConnectHandler"
             commandId="org.kompiro.trichord.distributed.xmpp.ui.commands.connectCommand">
          <!--
          <enabledWhen>
             <systemTest
                   property="org.kompiro.trichord.distributed.xmpp.connect"
                   value="false">
             </systemTest>
          </enabledWhen>
          -->
       </handler>
       <handler
             class="org.kompiro.jamcircle.xmpp.ui.handlers.DisconnectHandler"
             commandId="org.kompiro.trichord.distributed.xmpp.ui.commands.disconnectCommand">
          <!--
          <enabledWhen>
             <systemTest
                   property="org.kompiro.trichord.distributed.xmpp.connect"
                   value="true">
             </systemTest>
          </enabledWhen>
          -->
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.kompiro.trichord.distributed.xmpp.ui.commands.connectCommand"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M2+C">
       </key>
       <key
             commandId="org.kompiro.trichord.distributed.xmpp.ui.commands.disconnectCommand"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M2+D">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="menu:file?after=additions">
         <command
               commandId="org.kompiro.trichord.distributed.xmpp.ui.commands.connectCommand"
               id="org.kompiro.trichord.distributed.xmpp.ui.menus.connectCommand"
               icon="icons/connect.png"
               mnemonic="%command.mnemonic">
         </command>
         <command
               commandId="org.kompiro.trichord.distributed.xmpp.ui.commands.disconnectCommand"
               id="org.kompiro.trichord.distributed.xmpp.ui.menus.disconnectCommand"
               icon="icons/disconnect.png"
               
               mnemonic="%command.mnemonic.0">
         </command>
       </menuContribution>
       <!--
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.kompiro.trichord.distributed.xmpp.ui.toolbars">
             <command
                   commandId="org.kompiro.trichord.distributed.xmpp.ui.commands.connectCommand"
                   icon="icons/connect.png"
                   id="org.kompiro.trichord.distributed.xmpp.ui.toolbars.connectCommand"
                   tooltip="Connect to XMPP(Jabber) Server">
             </command>
             <command
                   commandId="org.kompiro.trichord.distributed.xmpp.ui.commands.disconnectCommand"
                   icon="icons/disconnect.png"
                   id="org.kompiro.trichord.distributed.xmpp.ui.toolbars.disconnectCommand"
                   tooltip="Disconnect from XMPP(Jabber) Server">
             </command>
          </toolbar>
       </menuContribution>
       -->
    </extension>
</plugin>
